<div>
    <template [ngIf]="getCurrentQuestion() == null">
        <p>Quiz ID: {{quiz.id}}</p>
        <p>Name: {{quiz.name}}</p>
        <p>Description: {{quiz.description}}</p>
        <div class="list-group">
            <template ngFor let-question [ngForOf]="quiz.questions">
                <a href="#/quizes" class="list-group-item list-group-item-action" (click)="openQuestion(question)">
                    <question [question]="question"></question>
                </a>
            </template>
        </div>
    </template>
    <template [ngIf]="getCurrentQuestion() != null">
        <p>Quiz: {{quiz.name}}</p>
        <question-detail [question]="getCurrentQuestion()"></question-detail>
    </template>
</div>
<button *ngIf="getCurrentQuestion() == null" type="button" class="btn btn-danger" (click)="closeQuiz()">Close quiz</button>